.lmj-banner {
  color: black;
  text-align: left;
  border-bottom: solid 3px black;
}
.lmj-logo {
  height: 70px;
  float: left;
  width:150px;
  margin-top: -10px;
  margin-left:-20px
}

.lmj-logo1 {
  height: 20%;
  float: left;
  width:15%;
  border-radius: 120px;
}
.lmj-banner-row {
  text-align: left;
}
.lmj-banner-title {
  color: black;
  text-align: left;
}

.auth {
  margin-left: 60%;
}
